<form action="/new_recipe" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Recipe name:</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="description">Recipe description:</label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form-example">
    <label for="rating">Rating:</label>
    <input type="text" name="rating" id="rating" required>
  </div>
  <div class="form-example">
    <label for="prep_time">Prep time:</label>
    <input type="text" name="prep_time" id="prep_time" required>
  </div>
  <div class="form-example">
    <input type="submit" value="creating new recipe">
  </div>
</form>
